{% load static %}
<!DOCTYPE html>
   <title>ABOUT</title>
 <div class="about-section">
     <link rel="stylesheet" type="text/css"
         href="{% static 'css/about.css' %}">
      <div class="carousel-item active">
        <img src="{% static 'firstapp/about.jpg' %}" height="300px" width="600px" class="d-block w-100" alt="...">
    </div>
     <p><h3>⚪ Some text about who we are and what we do 👇</h3></p>
 </div>

<h3 style="text-align:center">🔴 COUNTRY : BANGLADESH 🇧🇩</h3>
<h2 style="text-align:center" >Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="SETU" style="width:100%">
      <div class="container">
        <h2>FAHMIDA BINTE JAHANGIR</h2>
        <p class="title">STUDENT 🧑‍🎓</p>
        <p>Studies B.Sc in Computer Science & Engineering at International Islamic University Chittagong</p>
       </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="ANIKA" style="width:100%">
      <div class="container">
        <h2>ANIKA FAIROZ</h2>
        <p class="title">STUDENT 🧑‍🎓</p>
        <p>Studies B.Sc in Computer Science & Engineering at International Islamic University Chittagong</p>
        <p></p>
       </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="ABIDA" style="width:100%">
      <div class="container">
        <h2>ABIDA SULTANA</h2>
        <p class="title">STUDENT 🧑‍🎓</p>
        <p>Studies B.Sc in Computer Science & Engineering at International Islamic University Chittagong</p>
      </div>
    </div>
  </div>
</div>