{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT</title>
    <link rel="stylesheet" type="text/css"
         href="{% static 'css/style.css' %}">
 </head>
<body>
 <div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>We are waiting to hear from you!</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="{% static 'firstapp/contact.jpg' %}" style="width:100%" height="450px">
    </div>
    <div class="column">
           <h3>You can contact us by using the email addresses below:</h3>
           <ul>
              <li><h4>anikafairoz21@gmail.com</h4></li>
              <li><h4>abidaantasha@gmail.com</h4></li>
              <li><h4>fahmidasetu1250@gmail.com</h4></li>

           <h3>Or You can call us by using the numbers below:</h3>
           <ul>
              <li><h3>01630-371857</h3></li>
              <li><h3>01874-919194</h3></li>
              <li><h3>01859-650776</h3></li>


    </div>
</div>
</body>
</html>