<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>audiobooks.com</title>
    <style>
        div{
        width:1000px;
        height:;590px;
        border:solid 3px black;
        margin:auto;
        }
        input[type='text']{
          width:990px;
          height:200px;
          font-size:20px;
        }
        input[type='submit']:hover{
          background-color:orange;
          color:white;
    </style>
</head>
<body>

<div class="container">
    <br><br>
    <center><h1>Text successfully translated <font color="#dc143c">{{u_lang}} </font> into <font color="#006400"> {{t_lang}}</font> </h1></center>
<hr>
    <br>
    <br>
    <center>
        <font color="blue">
        <h3>
            {{ translated }}
        </h3>
        </font>

    </center>





